# Visual Studio specific files
*.opensdf
*.sdf
*.vcxproj.user
/.vs

# CMake specific files
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake

# Compilation results
/Bin
/Obj
*.a

# MineZPRft log files
*.log
